@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EAT NYC</h1>
    <p class="lead">Eat NYC is a guide to the best resaurants in New York City.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MOMOFUKU</h2>
        <p>
            Momofuku is a group of restaurants owned by chef-founder David Chang. The restaurants are: 
            Momofuku Noodle Bar, Momofuku Ssäm Bar, Booker & Dax, Má Pêche, Momofuku Ko, Momofuku Milk Bar.
        </p>
        <p><a class="btn btn-default" href="http://www.momofuku.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Spotted Pig</h2>
        <p>The Spotted Pig is a restaurant owned by April Bloomfield.</p>
        <p><a class="btn btn-default" href="http://www.aprilbloomfield.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Black Tree</h2>
        <p>Black Tree is a farm to table restaurant in the lower east side of Manhattan.</p>
        <p><a class="btn btn-default" href="http://www.blacktree.com">Learn more &raquo;</a></p>
    </div>
</div>